logs/*
!.gitkeep
node_modules
bower_components/
tmp
.DS_Store
.idea
app/.sass-cache/
firebase-debug.log
public/
initialize.js
firebase.json
.firebaserc
database.rules.json
functions
firebase-debug.log
static/
