<div class="pattern-bg register">

<div id="register-1" class="register-section slide-up" ng-show="!user.uid">
  <div class="register-half left gray-bg">
    <section class="text-center white-text padtop-3">
      <object class="reg-img align-center" data="images/reg-step-1.svg" type="image/svg+xml">
        <img src="images/reg-step-1.png" />
      </object>
      <p class="text-center purple-text special-text reg-step"><span class="step-num">Step 1</span>
        <br/>Some quick deets</p>
    </section>
  </div>
  <div class="register-half right">
    <section>
      <h2 class="text-center special-text">Register here, friend!</h2>
      <p class="text-center">Just $10 and you're already done preparing for SXSW!</p>
      <h4 class="special-text martop-1 marbot-1 text-center">Sign up with…</h4>
      <form class="reg-form" name="registerForm" ng-submit="registerUser(register)" novalidate>
        <div ng-show="errMessage.loginRedirect" class="form-alert pink-bg white-text"><button type="button" class="close" ng-click="errMessage.loginRedirect = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>Hey friend, no need to register again! That email already has an account. <a class="purple-text" ui-sref="login">Log in now &rsaquo;</a></div>
        <div ng-show="errMessage.generic" class="form-alert pink-bg white-text"><button type="button" class="close" ng-click="errMessage.generic = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{errMessage.generic}}</div>
        <div class="fsg-field-group inline">
          <label class="sr-only">First Name</label>
          <input type="text" name="FName" placeholder="FIRST NAME" ng-model="register.firstname" ng-required="true" ng-model-options="{ debounce: 500 }" ng-class="{ 'valid' : (registerForm.FName.$valid && registerForm.FName.$dirty), 'invalid' : (registerForm.FName.$invalid && !registerForm.FName.$pristine) }"/>
          <label class="sr-only">Last Name</label>
          <input type="text" name="LName" class="pull-right" placeholder="LAST NAME" ng-model="register.lastname" ng-required="true" ng-model-options="{ debounce: 500 }" ng-class="{ 'valid' : (registerForm.LName.$valid && registerForm.LName.$dirty), 'invalid' : (registerForm.LName.$invalid && !registerForm.LName.$pristine) }"/>
        </div>
        <div class="fsg-field-group">
          <label class="sr-only">Email Address</label>
          <input type="email" name="email" placeholder="EMAIL ADDRESS" ng-model="register.email" ng-required="true" ng-model-options="{ debounce: 300 }" ng-class="{ 'valid' : (registerForm.email.$valid && registerForm.email.$dirty), 'invalid' : (registerForm.email.$invalid && !registerForm.email.$pristine) }"/>
        </div>
        <div class="fsg-field-outer" ng-class="{ 'valid' : (registerForm.password.$valid && !registerForm.password.$pristine), 'invalid' : (registerForm.password.$invalid && !registerForm.password.$pristine) }">
          <label for="reg-pass">PASSWORD</label>
          <input type="password" id="reg-pass" name="password" ng-model="register.password" ng-minlength="9" ng-model-options="{ debounce: 300 }" pattern="[a-zA-Z0-9\!\?\~\%\$\#\+\-\_\*]+" ng-required="true" />
        </div>
        <p class="pink-text">
          <span ng-show="registerForm.email.$invalid && !registerForm.email.$pristine">
            <small><em>Hey, your email doesn't look right!</em></small><br/>
          </span>
          <span ng-show="registerForm.password.$invalid && !registerForm.password.$pristine" class="pink-text">
            <small><em><span ng-show="registerForm.password.$error.minlength">Password must be at least 9 characters long. </span>Numbers, letters, and these characters are allowed: ! ? ~ % $ # + - _ *</em></small>
          </span>
        </p>
        <button type="submit" class="btn btn-purple pull-right" ng-disabled="registerForm.$invalid || register.processing">Let's go!</button>
        <div class="clearfix"></div>
      </form>
      <div class="text-center form-alert pink-bg white-text" ng-show="regError">
        <button type="button" class="close" ng-click="regError=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{regError}}
      </div>
      <div class="social-btns text-center martop-2">
        <button class="btn btn-social btn-facebook marbot-1" ng-click="logInFB()">
          <span class="fa fa-facebook"></span> Sign up with Facebook
        </button>
        <button class="btn btn-social btn-twitter marbot-1" ng-click="logInTwitter()">
          <span class="fa fa-twitter"></span> Sign up with Twitter
        </button>
      </div>
      <p class="text-center martop-2"><em>Look familiar? <a ui-sref="login">Sign in</a> instead!</em></p>
    </section>
  </div>
</div>

<div id="register-2" class="register-section slide-up" ng-if="user.uid && !user.info.paid">
  <div class="register-half left">
    <section class="text-center gray-bg padtop-3">
      <object class="reg-img align-center" data="images/reg-step-2.svg" type="image/svg+xml">
        <img src="images/reg-step-2.png" />
      </object>
      <p class="text-center purple-text special-text reg-step"><span class="step-num">Step 2</span>
        <br/>Show me the money!</p>
    </section>
  </div>
  <div class="register-half right">
    <section>
      <h2 class="text-center special-text">Payment info</h2>
      <p class="text-center">Almost there! Just enter your card info below</p>
      <p class="gray-text text-center disclaimer"><em>We never keep any of your credit card information. <br/>By continuing you agree to our <a href="https://freeshitguide.com/privacy" target="_blank">privacy policy</a> and <a href="https://freeshitguide.com/terms" target="_blank">terms of use</a>.</em></p>
      <form class="payment-form" name="paymentForm" ng-submit="charge()" novalidate ng-if="cardError.count<3">
        <div class="form-alert pink-bg text-center white-text" ng-show="cardError.message">
          <button type="button" class="close" ng-click="cardError.message=''" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{cardError.message}}
        </div>
        <div class="fsg-field-group">
          <label class="sr-only">Credit Card Number</label>
          <input type="text" name="cardNumber" class="text-uppercase" placeholder="Credit Card Number" ng-model="payment.card.number" size="20" data-stripe="number" cc-format cc-number cc-eager-type ng-required="true" ng-class="{ 'valid' : paymentForm.cardNumber.$valid, 'invalid' : (paymentForm.cardNumber.$invalid && !paymentForm.cardNumber.$pristine) }" ng-model-options="{ updateOn: 'blur' }" />
        </div>
        <div class="fsg-field-outer pull-left expiration" cc-exp ng-class="{ 'valid' : (!paymentForm.$error.ccExp && !paymentForm.cardYear.$pristine), 'invalid' : (paymentForm.$error.ccExp && !paymentForm.cardYear.$pristine) }">
          <label>Exp. <span class="sr-only">Date</span></label>
          <input type="text" size="3" data-stripe="exp_month" name="cardMonth" placeholder="MM" cc-exp-month ng-required="true" ng-model="payment.card.exp_month" ng-model-options="{ updateOn: 'blur' }">
          <span> / </span>
          <input type="text" size="2" data-stripe="exp_year" name="cardYear" placeholder="YY" cc-exp-year ng-required="true" ng-model="payment.card.exp_year" ng-model-options="{ updateOn: 'blur' }">
        </div>
        <div class="fsg-field-group pull-left card-cvc">
          <label class="sr-only">CVC</label>
          <input name="cvc" placeholder="CVC" type="text" cc-cvc ng-required="true" size="4" data-stripe="cvc" ng-required="true" ng-model="payment.card.cvc" ng-class="{ 'valid' : (paymentForm.cvc.$valid && paymentForm.cvc.$dirty)}" />
        </div>
        <div class="fsg-field-group pull-left billing-zip">
          <label class="sr-only">Billing Zip</label>
          <input type="text" class="text-uppercase" name="zip" placeholder="Billing Zip" size="6" pattern="[a-zA-Z0-9\-\s]+" data-stripe="address_zip" ng-required="true" ng-model="payment.card.address_zip" ng-class="{ 'valid' : (paymentForm.zip.$valid && paymentForm.zip.$dirty), 'invalid' : (paymentForm.zip.$invalid && paymentForm.zip.$dirty)}">
        </div>
        <div class="clearfix"></div>
        <div class="fsg-field-group">
          <label class="sr-only" for="coupon">Coupon code</label>
          <input type="text" name="coupon" class="text-uppercase pull-left coupon" placeholder="Coupon Code" pattern="[a-zA-Z0-9]+" ng-model="payment.promo_code" ng-class="{ 'valid' : payment.expected_charge < 10}">
          <a class="btn btn-outline-pink btn-white-bg" ng-click="findPromo(payment.promo_code)">Promo Me!</a>
        </div>
        <div class="clearfix"></div>
        <div ng-if="payment.message" class="form-alert pink-bg white-text"><button type="button" class="close" ng-click="payment.message = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{payment.message}}</div>
        <div class="inline-block martop-1"><button type="submit" class="btn btn-purple" ng-disabled="paymentForm.$invalid || payment.processing" ng-if="payment.expected_charge > 0">Pay ${{payment.expected_charge | number:2}}</button></div>
        <div ng-show="payment.processing" class="inline-block"><img style="padding: 5px;" src="/images/loading.gif" width="40" height="40" /></div>
        <a class="btn btn-purple martop-1" ng-if="payment.expected_charge === 0" ng-click="paymentBypass()">Continue for free!</a>
        <div id="stripe-stamp" class="pull-right padtop-1">
          <object data="images/powered_by_stripe.svg" type="image/svg+xml">
            <img src="images/powered_by_stripe.png" />
          </object>
        </div>
        <div class="clearfix"></div>
      </form>
      <div ng-if="cardError.count>=3" class="pink-text text-center martop-2">
        <h5 class="pink-text">Looks like you're having trouble!</h5>
        <p>Why not drop us a note at <a href="mailto:hey@freeshitguide.com">hey@freeshitguide.com</a> and we'll see if we can spare you the headache.</p>
      </div>
    </section>
  </div>
</div>

<div id="register-3" class="register-section slide-up" ng-if="user.uid && user.info.paid">
  <div class="register-half left">
    <section class="text-center gray-bg padtop-3">
      <object class="reg-img align-center" data="images/reg-step-3.svg" type="image/svg+xml">
        <img src="images/reg-step-3.png" />
      </object>
      <p class="text-center purple-text special-text reg-step"><span class="step-num">Rock on!</span>
        <br/>Now go forth and rock SXSW…
      </p>
    </section>
  </div>
  <div class="register-half right">
    <section class="thank-you">
      <h2 class="text-center special-text">Thank you!!</h2>
      <p class="text-center">Why not check out the events page and start planning out your awesome week!</p>
      <p class="text-center martop-2"><a ui-sref="events" class="btn btn-danger">Let's Go</a></p>
    </section>
  </div>
</div>

<div class="clearfix"></div>
</div>
