<div class="bg-view">
  <div data-start="background-position:0px 0px;" data-end="background-position:0px -600px" class="bg-confetti"></div>
  <div data-start="background-position:0px 0px;" data-end="background-position:0px -1000px" class="bg-icons"></div>
</div>

<div class="container width height">
  <div class="row martop-2">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div id="center-logo">
        <h2 class="sr-only">Free Shit Guide</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="home-header text-center navy-text"><span class="left-side">Your guide to free</span> <span class="visible-xs-inline">shit</span>
        <div class="words rotate hide-on-small">
    			<span class="first-word">shit</span>
    			<span>food</span>
    			<span>drinks</span>
    			<span>swag</span>
          <span>music</span>
          <span>events</span>
    		</div>
        <span class="right-side">this week in Austin</span></h1>
    </div>
  </div>
  <div class="row martop-2 marbot-1 text-center">
    <p><a ui-sref="register" class="btn btn-danger">Get the Guide</a> <strong>&nbsp;– or –&nbsp;</strong> <a ui-sref="demoEvents" class="btn btn-outline">Demo it first</a></p>
  </div>
</div>

<div class="moving-elements hide-on-small">
  <div id="elements__top-left">
    <svg id="half-circle-filled" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 203.7 397.5" enable-background="new 0 0 203.7 397.5" xml:space="preserve">
    	<g>
    		<path fill="#47fce1" d="M0,397.4L0,0.1C1.7,0,3.3,0,5,0c109.8,0,198.7,89,198.7,198.7S114.7,397.5,5,397.5
    			C3.3,397.5,1.7,397.4,0,397.4z"/>
    	</g>
    </svg>
    <img id="taco" src="images/taco.svg" />
    <img id="half-circle-open" src="images/half-circle-open.svg" />
  </div>
  <div id="elements__top-right">
    <svg id="half-circle-filled" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 153.77 300.04" enable-background="new 0 0 203.7 397.5" xml:space="preserve">
      <g>
        <path d="M153.77,0V300c-1.25,0-2.5,0-3.75,0A150,150,0,0,1,150,0C151.27,0,152.52,0,153.77,0Z" fill="#ffe904"/>
      </g>
    </svg>
    <img id="armadillo" src="images/armadillo.svg"/>
    <svg id="half-circle-outline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 168.39 168.4"><g><path d="M5.27,135.91,135.91,5.27q.83.79,1.65,1.61A92.4,92.4,0,0,1,6.89,137.56Q6.07,136.74,5.27,135.91Z" fill="none" stroke="#7348f8" stroke-miterlimit="10" stroke-width="7.55"/></g></svg>
  </div>
</div>

<div id="one-two-three">
  <div class="container width">
    <div class="row martop-2">
      <div class="col-xs-10 col-xs-offset-1 story-block">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <img class="img-center img-max-300 martop-2" src="images/secret.png?version111501" />
          </div>
          <div class="col-sm-6 col-xs-12 intro-copy number-01">
            <div class="spacer"></div>
            <p><span class="large">We’ll let you in on a secret: </span><br/>Most of the festival is free if you know where to look…</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="moving-elements">
    <div id="elements__small-right">
      <svg id="half-circle-filled" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 153.77 300.04" enable-background="new 0 0 203.7 397.5" xml:space="preserve">
        <g>
          <path d="M153.77,0V300c-1.25,0-2.5,0-3.75,0A150,150,0,0,1,150,0C151.27,0,152.52,0,153.77,0Z" fill="#4dffe0"/>
        </g>
      </svg>
      <svg id="half-circle-outline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 168.39 168.4"><g><path d="M5.27,135.91,135.91,5.27q.83.79,1.65,1.61A92.4,92.4,0,0,1,6.89,137.56Q6.07,136.74,5.27,135.91Z" fill="none" stroke="#ff39e7" stroke-miterlimit="10" stroke-width="7.55"/></g></svg>
    </div>
  </div>

  <div class="container width">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 story-block">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-push-6">
            <img class="img-center img-max-300" src="images/donkey.png" />
          </div>
          <div class="col-xs-12 col-sm-6 col-sm-pull-6 intro-copy number-02">
            <div class="spacer"></div>
            <p>Even then, it's a huge pain in the ass to gather all the info on <span class="large">hundreds of events</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="moving-elements">
    <div id="elements__small-left">
      <div id="half-circle-outline"></div>
      <svg id="half-circle-open" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      	 viewBox="0 0 94.8 47.4" enable-background="new 0 0 94.8 47.4" xml:space="preserve">
      	<g>
      		<path fill="#ff39e7" d="M94.8,0L77.6,0c0,16.7-13.5,30.2-30.2,30.2C30.7,30.2,17.2,16.7,17.2,0L0,0c0,26.2,21.2,47.4,47.4,47.4
      				C73.6,47.4,94.8,26.2,94.8,0z"/>
      	</g>
      </svg>
    </div>
  </div>

  <div class="container width">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 story-block">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <img class="img-center img-max-300" src="images/cheers.png" />
          </div>
          <div class="col-sm-6 col-xs-12 intro-copy number-03">
            <div class="spacer"></div>
            <p>That’s why we’re here, doing all the sidekick work – <br/><span class="large">so you can steal the show</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="martop-3 marbot-7 gray-bg padbot-5 padtop-6">
  <div id="features" class="container">
    <div class="row-fluid">
      <div class="col-sm-12 text-center">
        <h2 class="title-font">The most complete festival party guide ever</h2>
        <p>Built so you can filter for exactly what you want, when you want it!</p>
      </div>
      <!-- FEATURES ACROSS -->
      <div class="col-xs-12 col-md-5 col-lg-4 marbot-2 martop-1">

        <div class="feature clearfix" ng-mouseover="showFeature = 'events'" ng-click="showFeature = 'events'" ng-class="{'active' : showFeature == 'events'}">
          <div class="feature__dot events"></div>
          <div class="feature__descrip">
            <p class="title">Card view</p>
            The ultimate list to help you prepare for your big week
          </div>
        </div>

        <div class="feature clearfix" ng-mouseover="showFeature = 'map'" ng-click="showFeature = 'map'" ng-class="{'active' : showFeature == 'map'}">
          <div class="feature__dot map"></div>
          <div class="feature__descrip">
            <p class="title">Map view</p>
            Real time, filterable map so you can easily find the closest free taco
          </div>
        </div>
        <p class="text-center martop-1"><a class="btn btn-primary" ui-sref="demoEvents">See it in action &rsaquo;</a></p>
      </div>

      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-0 col-lg-8">
        <div class="desktop text-center" ng-class="showFeature">
          <img src="images/desktop.png" />
        </div>
      </div>

    </div>
  </div>
</section>

<div id="price" class="container width marbot-5">
  <div class="row martop-3 marbot-4">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center">
      <div class="offset-title marbot-1">
        <h2 class="special-text"><span>$10 can buy you 10 days of happiness… </span> <span>without the month of preparation</span></h2>
      </div>
      <p>Stop stressing about keeping up with Twitter, Facebook, google, friends, etc. With Free Shit Guide, you’re already done preparing for the week of fun!</p>
      <!--<p class="text-center martop-1 marbot-3"><a ui-sref="register" class="btn btn-danger">Give it to me!</a></p>-->
    </div>
  </div>
</div>

<div class="moving-elements hide-on-small">
  <div id="elements__bottom-left">
    <svg id="half-circle-filled" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 203.7 397.5" enable-background="new 0 0 203.7 397.5" xml:space="preserve">
    	<g>
    		<path fill="#ffef00" d="M0,397.4L0,0.1C1.7,0,3.3,0,5,0c109.8,0,198.7,89,198.7,198.7S114.7,397.5,5,397.5
    			C3.3,397.5,1.7,397.4,0,397.4z"/>
    	</g>
    </svg>
    <img id="beer" src="images/beer.svg" data-top-bottom="transform:rotate(0deg);" data-bottom-top="transform:rotate(-80deg);" />
    <svg id="half-circle-open" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 94.8 47.4" enable-background="new 0 0 94.8 47.4" xml:space="preserve">
    	<g>
    		<path fill="#47fce1" d="M94.8,0L77.6,0c0,16.7-13.5,30.2-30.2,30.2C30.7,30.2,17.2,16.7,17.2,0L0,0c0,26.2,21.2,47.4,47.4,47.4
    				C73.6,47.4,94.8,26.2,94.8,0z"/>
    	</g>
    </svg>
  </div>
  <div id="elements__bottom-right">
    <svg id="half-circle-outline" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 254.8 135.5" enable-background="new 0 0 254.8 135.5" xml:space="preserve">
    	<g>
    		<path fill="#ea28b8" d="M127.4,135.5c-34,0-66-13.2-90.1-37.3C13.3,74.1,0,42.2,0,8.1C0,7.1,0,6,0,4.9l0.1-4.9L254.6,0l0.1,4.9
    			c0,1.1,0,2.1,0,3.2c0,34-13.2,66-37.3,90.1C193.4,122.2,161.5,135.5,127.4,135.5C127.4,135.5,127.4,135.5,127.4,135.5z M10,10.1
    			c0.5,30.6,12.7,59.4,34.4,81.1c22.2,22.2,51.6,34.4,83,34.4c0,0,0,0,0,0c31.4,0,60.8-12.2,83-34.4c21.7-21.7,33.9-50.4,34.4-81.1
    			L10,10.1z"/>
    	</g>
    </svg>
    <svg id="half-circle-filled" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 203.7 397.5" enable-background="new 0 0 203.7 397.5" xml:space="preserve">
    	<g>
    		<path fill="#47fce1" d="M0,397.4L0,0.1C1.7,0,3.3,0,5,0c109.8,0,198.7,89,198.7,198.7S114.7,397.5,5,397.5
    			C3.3,397.5,1.7,397.4,0,397.4z"/>
    	</g>
    </svg>
    <img id="avocado" src="images/avocado.svg" data-top-bottom="transform:rotate(0deg);" data-bottom-top="transform:rotate(90deg);"/>
  </div>
</div>

<div id="register-home" class="container width" ng-controller="signupFormController as reg">
  <div class="row martop-5 marbot-5 padbot-3">
    <div class="col-sm-12 marbot-1">
      <h2 class="text-center special-text"><strong>Ready to be ready for the festival?</strong></h2>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
      <form class="reg-form" name="registerForm" ng-submit="reg.registerUserEmail(register)" novalidate>
        <div ng-show="errMessage.loginRedirect" class="form-alert pink-bg white-text"><button type="button" class="close" ng-click="errMessage.loginRedirect = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>Hey friend, no need to register again! That email already has an account. <a class="purple-text" ui-sref="login">Log in now &rsaquo;</a></div>
        <div ng-show="errMessage.generic" class="form-alert pink-bg white-text"><button type="button" class="close" ng-click="errMessage.generic = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{errMessage.generic}}</div>
        <div class="fsg-field-group inline">
          <label class="sr-only">First Name</label>
          <input type="text" name="FName" placeholder="FIRST NAME" ng-model="register.firstname" ng-required="true" ng-model-options="{ debounce: 500 }" ng-class="{ 'valid' : (registerForm.FName.$valid && registerForm.FName.$dirty), 'invalid' : (registerForm.FName.$invalid && !registerForm.FName.$pristine) }"/>
          <label class="sr-only">Last Name</label>
          <input type="text" name="LName" class="pull-right" placeholder="LAST NAME" ng-model="register.lastname" ng-required="true" ng-model-options="{ debounce: 500 }" ng-class="{ 'valid' : (registerForm.LName.$valid && registerForm.LName.$dirty), 'invalid' : (registerForm.LName.$invalid && !registerForm.LName.$pristine) }"/>
        </div>
        <div class="fsg-field-group">
          <label class="sr-only">Email Address</label>
          <input type="email" name="email" placeholder="EMAIL ADDRESS" ng-model="register.email" ng-required="true" ng-model-options="{ debounce: 300 }" ng-class="{ 'valid' : (registerForm.email.$valid && registerForm.email.$dirty), 'invalid' : (registerForm.email.$invalid && !registerForm.email.$pristine) }"/>
        </div>
        <div class="fsg-field-outer" ng-class="{ 'valid' : (registerForm.password.$valid && !registerForm.password.$pristine), 'invalid' : (registerForm.password.$invalid && !registerForm.password.$pristine) }">
          <label for="reg-pass">PASSWORD</label>
          <input type="password" id="reg-pass" name="password" ng-model="register.password" ng-minlength="9" ng-model-options="{ debounce: 300 }" pattern="[a-zA-Z0-9\!\?\~\%\$\#\+\-\_\*]+" ng-required="true" />
        </div>
        <p class="pink-text">
          <span ng-show="registerForm.email.$invalid && !registerForm.email.$pristine">
            <small><em>Hey, your email doesn't look right!</em></small><br/>
          </span>
          <span ng-show="registerForm.password.$invalid && !registerForm.password.$pristine" class="pink-text">
            <small><em><span ng-show="registerForm.password.$error.minlength">Password must be at least 9 characters long. </span>Numbers, letters, and these characters are allowed: ! ? ~ % $ # + - _ *</em></small>
          </span>
        </p>
        <button type="submit" class="btn btn-purple pull-right" ng-disabled="registerForm.$invalid || reg.status == 'processing'">Hells yes!</button>
        <div class="clearfix marbot-1"></div>
      </form>
      <div class="text-center form-alert pink-bg white-text" ng-show="regError">
        <button type="button" class="close" ng-click="regError=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{regError}}
      </div>
      <div class="social-btns text-center">
        <a class="btn btn-social btn-facebook marbot-1" ng-click="logInFB()">
          <span class="fa fa-facebook"></span> Sign up with Facebook
        </a>
        <a class="btn btn-social btn-twitter marbot-1" ng-click="logInTwitter()">
          <span class="fa fa-twitter"></span> Sign up with Twitter
        </a>
      </div>
    </div>
  </div>
</div>
