<div class="xs-width col-sm-4 card-outer" id="eid-{{card.eid}}" ng-controller="eventsCardsController as cardCtrl">
  <div class="card" ng-class="{'card--active':activeCard===card.eid}">
    <div class="card__header">
      <h3 class="purple-text">{{card.title | uppercase}}</h3>
    </div>
    <div class="card__body">
      <free-icons food="card.food" drink="card.drink" swag="card.swag" recharge="card.recharge" music="card.music"></free-icons>
      <card-location name="card.locationName" addr="card.locationAddress"></card-location>
      [Card date display]<br/>
      [Description snippet]<br/>
      {{card.credentialLevel}}
      <p class="text-right purple-text"><small><a>Read more</a></small></p>
      <p class="show-on-expand padbot-2">{{card.freeNotes}}</p>
      <div class="card__bottom">
        <div class="card-disclaimers">
          <span ng-if="card.credentialLevel > 10" class="credential-level pink-text" style="margin-right:10px;">
            &#9733; {{ credentialsDisplay(card.credentialLevel) | uppercase }}
          </span>
          <span ng-if="card.age >= 0" class="credential-level pink-text">
            &#9733; {{ ageDisplay(card.age) | uppercase }}
          </span>
        </div>
        <div class="card-buttons">
          <span ng-if="!card.RSVPLink" class="credential-level gray-text pull-right text-right">
            <em>No RSVP<br/>Required</em>
          </span>
          <div ng-if="card.RSVPLink" class="pull-right rsvp-btn" ng-class="inRSVP(card.eid) ? 'active' : 'non-active'" ng-click="toggleRSVP($event,card.eid,card.RSVPLink,card.title)">
            <span>&check;</span>RSVP
          </div>
          <div class="fave-btn pull-left" ng-class="inFavorites(card.eid) ? 'active' : ''" ng-click="toggleFavorite($event,card.eid)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><g><circle id="fave-circle" cx="15" cy="15" r="14.09" stroke-miterlimit="10"/><path id="fave-heart" d="M23.12,12s0-.07,0-.09A4.67,4.67,0,0,0,18.7,8h-.15A4.69,4.69,0,0,0,15,9.65a4.69,4.69,0,0,0-8.25,3.07A4.65,4.65,0,0,0,8.05,16s6.43,7.17,6.92,7.17S21.91,16,21.91,16l.09-.1A4.62,4.62,0,0,0,23.12,12Z" stroke-miterlimit="10"/></g></svg>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

</div>
<!--
<div class="xs-width col-sm-4 card-outer">
  <div class="card" ng-click="expandCard(findRow($index),findCol($index),event)" ng-class="{'card--active':activeCard.eid===card.eid}">
    <div class="card__header">
      <h3 class="purple-text">{{card.title | uppercase}}</h3>
    </div>
    <div class="card__body">
      <free-icons></free-icons>
      <event-location></event-location>
      <p class="card-date"><small>{{cardDateDisplay(card.days) | date:'MMMM d'}}</small></p>
      <div id="card-description" class="text-light" ng-bind-html="unescapeJson(e.defaultDescription(card.days))"></div>
      <p class="text-right purple-text"><small><a>Read more</a></small></p>
      <p class="show-on-expand padbot-2">{{card.freeNotes}}</p>
      <div class="card__bottom">
        <div class="card-disclaimers">
          <span ng-if="card.credentialLevel > 10" class="credential-level pink-text" style="margin-right:10px;">
            &#9733; {{ credentialsDisplay(card.credentialLevel) | uppercase }}
          </span>
          <span ng-if="card.age >= 0" class="credential-level pink-text">
            &#9733; {{ ageDisplay(card.age) | uppercase }}
          </span>
        </div>
        <div class="card-buttons">
          <span ng-if="!card.RSVPLink" class="credential-level gray-text pull-right text-right">
            <em>No RSVP<br/>Required</em>
          </span>
          <div ng-if="card.RSVPLink" class="pull-right rsvp-btn" ng-class="inRSVP(card.eid) ? 'active' : 'non-active'" ng-click="toggleRSVP($event,card.eid,card.RSVPLink,card.title)">
            <span>&check;</span>RSVP
          </div>
          <div class="fave-btn pull-left" ng-class="inFavorites(card.eid) ? 'active' : ''" ng-click="toggleFavorite($event,card.eid)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><g><circle id="fave-circle" cx="15" cy="15" r="14.09" stroke-miterlimit="10"/><path id="fave-heart" d="M23.12,12s0-.07,0-.09A4.67,4.67,0,0,0,18.7,8h-.15A4.69,4.69,0,0,0,15,9.65a4.69,4.69,0,0,0-8.25,3.07A4.65,4.65,0,0,0,8.05,16s6.43,7.17,6.92,7.17S21.91,16,21.91,16l.09-.1A4.62,4.62,0,0,0,23.12,12Z" stroke-miterlimit="10"/></g></svg>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
-->
