<div class="container-fluid">
  <div class="row martop-5" ng-if="!bootStatus">
    <div class="col-sm-12">
      <h4 class="purple-text special-text text-center">Nothing to see here! </h4>
    </div>
  </div>
  <div class="row martop-5" ng-if="bootStatus">
    <div class="col-sm-12 marbot-1">
      <h4 class="purple-text text-center">Admin Panel</h4>
      <p class="text-center">
        <a class="btn btn-outline" ng-click="changeTab('users')" ng-class="{'active-btn': adminTab=='users'}">Users</a>
        <a class="btn btn-outline" ng-click="changeTab('events')" ng-class="{'active-btn': adminTab=='events'}">Events</a>
        <a class="btn btn-outline" ng-click="changeTab('promoCodes')" ng-class="{'active-btn': adminTab=='promoCodes'}">Promo Codes</a>
    </div>
  </div>
  <section id="tabbed-content" class="marbot-2" ng-if="bootStatus">
    <div class="row" ng-if="adminTab === 'users'">
      <div class="col-sm-2">
        <a ng-click="userFilterType = 'all'">Total Users:</a> <strong>{{users3705.length}}</strong>
      </div>
      <div class="col-sm-2">
        <a ng-click="userFilterType = 'paid'">Paid Users:</a> <strong>{{(users3705 | userAccountsFilter:'paid').length}}</strong>
      </div>
      <div class="col-sm-2">
        <a ng-click="userFilterType = 'unpaid'">Unpaid Users:</a> <strong>{{(users3705 | userAccountsFilter:'unpaid').length}}</strong>
      </div>
      <div class="col-sm-2">
        <a ng-click="userFilterType = 'free'">Free Users:</a> <strong>{{(users3705 | userAccountsFilter:'free').length}}</strong>
      </div>

      <div class="col-sm-12 martop-1">
        <table class="data">
          <tbody>
            <tr>
              <th ng-click="sortUsersBy('name')">Name <span ng-if="sortUsers == 'name'" class="sorted" ng-class="{reverse: userSortReverse==true}"></span></th>
              <!--<th ng-click="sortUsersBy('email')">Email <span ng-if="sortUsers == 'email'" class="sorted" ng-class="{reverse: userSortReverse==true}"></span></th>
              <th ng-click="sortUsersBy('paid')">Paid <span ng-if="sortUsers == 'paid'" class="sorted" ng-class="{reverse: userSortReverse==true}"></span></th>
              <th ng-click="sortUsersBy('stripeToken')">Stripe Token <span ng-if="sortUsers == 'stripeToken'" class="sorted" ng-class="{reverse: userSortReverse==true}"></span></th>
              <!--<th ng-click="sortUsersBy('eid')">EID <span ng-if="sortUsers == 'eid'" class="sorted" ng-class="{reverse: userSortReverse==true}"></span></th>-->
              <th>Faves</th>
              <th>RSVP</th>
            </tr>
            <tr ng-repeat="user in users3705 | userAccountsFilter:userFilterType | orderBy:sortUsers:userSortReverse" ng-show="user.favorites.length > 0 || user.rsvp.length > 0">
              <td>{{user.name}}</td>
              <!--<td>{{user.email}}</td>
              <td>{{user.paid}}</td>
              <td>{{user.stripeToken}}</td>
              <!--<td>{{user.eid}}</td>-->
              <td><span ng-repeat="fave in user.favorites">{{fave}}<br/></span></td>
              <td><span ng-repeat="rsvp in user.rsvp">{{rsvp}}<br/></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" ng-if="adminTab === 'events'">
      <div class="col-sm-2">
        Total Events:</a> <strong>{{events3705.length}}</strong>
      </div>
      <div class="col-sm-12 martop-1">
        <table class="data">
          <tbody>
            <tr>
              <th ng-click="sortEventsBy('title')">Title <span ng-if="sortEvents == 'title'" class="sorted" ng-class="{reverse: eventSortReverse==true}"></span></th>
              <th ng-click="sortEventsBy('eid')">EID <span ng-if="sortEvents == 'eid'" class="sorted" ng-class="{reverse: eventSortReverse==true}"></span></th>
              <th ng-click="sortEventsBy('createdOn')">Created On <span ng-if="sortEvents == 'createdOn'" class="sorted" ng-class="{reverse: eventSortReverse==true}"></span></th>
              <th>Edit link</th>
            </tr>
            <tr ng-repeat="event in events3705 | orderBy:sortEvents:eventSortReverse">
              <td>{{event.title}}</td>
              <td>{{event.eid}}</td>
              <td>{{event.createdOn | date: 'M/dd'}}</td>
              <td><a ui-sref="editEvent({ eid: event.eid })">Edit</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" ng-if="adminTab === 'promoCodes'">
      <div class="col-sm-12">
        <p class="text-center martop-4 marbot-5"><em>Coming Soon</em></p>
      </div>
    </div>
  </section>
</div>
