<div id="blog-post" class="container height width">
  <div class="row martop-5 marbot-4">
    <div class="col-xs-6">
      <p class="text-left"><a ui-sref="blog">&laquo; Back to Blog</a></p>
    </div>
    <div class="col-xs-6">
      <p ng-cloak ng-hide="post.notFound" class="text-right gray-text">Posted {{post.timestamp | date:'MMM dd, yyyy'}}</p>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12">
      <div class="blog-img text-center" ng-hide="post.image === 'no image' || post.notFound" ng-style="{'background-image':'url('+post.image+')'}"></div>
      <div class="text-center" ng-hide="post.video === 'no video'">
        <div ng-bind-html="htmlSafe(unescapeJson(post.video))"></div>
      </div>
      <h1 class="text-center">{{post.title}}</h1>
      <p class="martop-1" ng-bind-html="unescapeJson(post.content)"></p>
      <p ng-show="post.notFound" class="text-center">That blog post doesn't exist. Double-check the spelling?</p>
    </div>
  </div>
</div>
