<section>
  <div id="map"><!-- zoom="19" -->
    <ng-map id="mapsview" center="{{$demoCtrl.userPosition.latitude}},{{$demoCtrl.userPosition.longitude}}" options="{{$demoCtrl.mapOptions}}" styles="{{$demoCtrl.mapStyle}}"><!-- zoom="14" draggable="true" pan-control="false" zoom-control="true" street-view-control="false" map-type-control="false" zoom-control="true" -->
      <custom-marker ng-if="userLocation" id="center" position="{{$demoCtrl.userPosition.latitude}},{{$demoCtrl.userPosition.longitude}}">
        <div class="map-pin pin-current" data-pin-id="user-loc">
          <svg id="pin-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.54 67.27"><g><path d="M15.27,19.07A14.27,14.27,0,0,0,1,33.35c0,7.88,14.27,33.92,14.27,33.92s14.27-26,14.27-33.92A14.27,14.27,0,0,0,15.27,19.07Zm0,19a4.19,4.19,0,1,1,4.19-4.19A4.19,4.19,0,0,1,15.27,38Z" stroke="#0f1e3d" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></g></svg>
        </div>
      </custom-marker>
      <custom-marker ng-repeat="pin in events | dateFilter:$demoCtrl.filter.date | onMap:bounds | searchAll:$demoCtrl.filter.search | foodFilter:$demoCtrl.filter.food | drinkFilter:$demoCtrl.filter.drink | swagFilter:$demoCtrl.filter.swag | rechargeFilter:$demoCtrl.filter.recharge | musicFilter:$demoCtrl.filter.music | credentialFilter:$demoCtrl.filter.badge | musicTagFilter:$demoCtrl.filter.musicTags | demoFavesFilter:$demoCtrl.filter.faves:userFaves | demoRSVPFilter:$demoCtrl.filter.rsvp:userRSVP" id="pin-{{pin.eid}}"
      position="{{pin.locationCoord.lat}},{{pin.locationCoord.lng}}"
      title="{{pin.title}}">
          <div class="map-pin" ng-click="$demoCtrl.fooPin(pin.eid)" data-pin-id="{{pin.eid}}" ng-class="{'pin__active': selectedEvent===pin.eid}">
            <svg id="pin-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.54 67.27">
              <g><path id="map-pin" d="M15.27,19.07A14.27,14.27,0,0,0,1,33.35c0,7.88,14.27,33.92,14.27,33.92s14.27-26,14.27-33.92A14.27,14.27,0,0,0,15.27,19.07Z" stroke="#0f1e3d" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
              <text transform="translate(6.32 39.59) scale(0.99 1)" font-size="16.57" fill="#0f1e3d" font-family="Roboto-Bold, Roboto" font-weight="700" letter-spacing="-0.05em">{{$index+1}}</text></g>
            </svg>
          </div>
      </custom-marker>
    </ng-map>
    <!-- To Do: add center btn
    <div class="center-btn"><span class="sr-only">Center to me</span>
      <object data="images/icon-map-center.svg" type="image/svg+xml">
        <img src="images/icon-map-center.png" />
      </object>
    </div>
    -->
  </div>
  <div id="map-sidebar">
    <button ng-if="bootStatus" class="btn btn-square btn-primary map-filters-toggle" ng-click="toggleFilters()"><span ng-hide="showFilters">Open Filters &raquo;</span><span ng-show="showFilters">Close Filters &laquo;</span></button>
    <div id="search-container" class="map-search" ng-show="showFilters && bootStatus">
      <div id="search-btn" class="show-sm-up" ng-click="$demoCtrl.filter.search = ''" ng-class="{'searching': $demoCtrl.filter.search !== ''}"></div>
      <input id="search" class="form-control show-sm-up" placeholder="Search the guide…" ng-model="$demoCtrl.filter.search" ng-model-options="{ debounce: 200 }"/>
    </div>

    <div class="clearfix"></div>
    <div class="map-filters" ng-class="{'show-filters':showFilters && bootStatus}">
      <a ng-click="showHappeningNow()" ng-class="{'active':$demoCtrl.filter.date=='now'}" class="btn btn-outline-pink btn-square btn-white-bg pull-left map-happening-now"><small>Happening Now</small></a>
      <div id="search-container" class="map-search">
        <div id="search-btn" class="hidden-sm-up" ng-click="$demoCtrl.filter.search = ''" ng-class="{'searching': $demoCtrl.filter.search !== ''}" ng-show="showFilters" ></div>
        <input id="search" class="form-control hidden-sm-up pull-right" placeholder="Search the guide…" ng-model="$demoCtrl.filter.search" ng-model-options="{ debounce: 200 }" ng-show="showFilters" />
      </div>

      <div class="clearfix"></div>

      <div class="filterset">
        <div class="title purple-bg" ng-click="toggleFilter($event,'filters-closed')">Free Stuff <div class="arrow pull-right"></div></div>
        <fieldset class="form-group form-inline">
          <input type="checkbox" name="food" id="free-food" ng-model="$demoCtrl.filter.food" /> <label for="free-food">Food</label>
          <input type="checkbox" name="drink" id="free-drink" ng-model="$demoCtrl.filter.drink" /> <label for="free-drink">Drink</label>
          <input type="checkbox" name="swag" id="free-swag" ng-model="$demoCtrl.filter.swag" /> <label for="free-swag">Swag</label>
          <input type="checkbox" name="recharge" id="free-recharge" ng-model="$demoCtrl.filter.recharge" /> <label for="free-recharge">Recharge Station</label>
          <input type="checkbox" name="music" id="free-music" ng-model="$demoCtrl.filter.music" /> <label for="free-music">Music</label>
        </fieldset>
      </div>

      <div class="filterset filters-closed">
        <div class="title purple-bg" ng-click="toggleFilter($event,'filters-closed')">Date <div class="arrow pull-right"></div></div>
        <fieldset class="form-group form-inline">
          <input type="radio" name="date-all" id="date-all" ng-model="$demoCtrl.filter.date" value="all"> <label for="date-all">Any date </label>
          <input type="radio" name="date-now" id="date-now" ng-model="$demoCtrl.filter.date" value="now"> <label for="date-now">Happening Now </label>
          <input type="radio" name="date-307" id="date-307" ng-model="$demoCtrl.filter.date" value="2017-03-07"> <label for="date-307">Tuesday 3/07 </label>
          <input type="radio" name="date-308" id="date-308" ng-model="$demoCtrl.filter.date" value="2017-03-08"> <label for="date-308">Wednesday 3/08 </label>
          <input type="radio" name="date-309" id="date-309" ng-model="$demoCtrl.filter.date" value="2017-03-09"> <label for="date-309">Thursday 3/09 </label>
          <input type="radio" name="date-310" id="date-310" ng-model="$demoCtrl.filter.date" value="2017-03-10"> <label for="date-310">Friday 3/10 </label>
          <input type="radio" name="date-311" id="date-311" ng-model="$demoCtrl.filter.date" value="2017-03-11"> <label for="date-311">Saturday 3/11 </label>
          <input type="radio" name="date-312" id="date-312" ng-model="$demoCtrl.filter.date" value="2017-03-12"> <label for="date-312">Sunday 3/12 </label>
          <input type="radio" name="date-313" id="date-313" ng-model="$demoCtrl.filter.date" value="2017-03-13"> <label for="date-313">Monday 3/13 </label>
          <input type="radio" name="date-314" id="date-314" ng-model="$demoCtrl.filter.date" value="2017-03-14"> <label for="date-314">Tuesday 3/14 </label>
          <input type="radio" name="date-315" id="date-315" ng-model="$demoCtrl.filter.date" value="2017-03-15"> <label for="date-315">Wednesday 3/15 </label>
          <input type="radio" name="date-316" id="date-316" ng-model="$demoCtrl.filter.date" value="2017-03-16"> <label for="date-316">Thursday 3/16 </label>
          <input type="radio" name="date-317" id="date-317" ng-model="$demoCtrl.filter.date" value="2017-03-17"> <label for="date-317">Friday 3/17 </label>
          <input type="radio" name="date-318" id="date-318" ng-model="$demoCtrl.filter.date" value="2017-03-18"> <label for="date-318">Saturday 3/18 </label>
          <input type="radio" name="date-319" id="date-319" ng-model="$demoCtrl.filter.date" value="2017-03-19"> <label for="date-319">Sunday 3/19 </label>
          <input type="radio" name="date-320" id="date-320" ng-model="$demoCtrl.filter.date" value="2017-03-20"> <label for="date-320">Monday 3/20 </label>
          <input type="radio" name="date-321" id="date-321" ng-model="$demoCtrl.filter.date" value="2017-03-21"> <label for="date-321">Tuesday 3/21 </label>
          <input type="radio" name="date-322" id="date-322" ng-model="$demoCtrl.filter.date" value="2017-03-22"> <label for="date-322">Wednesday 3/22 </label>
        </fieldset>
      </div>

      <div class="filterset filters-closed">
        <div class="title purple-bg" ng-click="toggleFilter($event,'filters-closed')">Favorites <div class="arrow pull-right"></div></div>
        <fieldset class="form-group form-inline">
          <input type="radio" name="all-faves" id="all-faves" ng-model="$demoCtrl.filter.faves" value="all"> <label for="all-faves">Any </label>
          <input type="radio" name="faves" id="faves" ng-model="$demoCtrl.filter.faves" value="yes"> <label for="faves">Favorited</label>
          <input type="radio" name="no-faves" id="no-faves" ng-model="$demoCtrl.filter.faves" value="no"> <label for="no-faves">Not Favorited</label>
        </fieldset>
      </div>

      <div class="filterset filters-closed">
        <div class="title purple-bg" ng-click="toggleFilter($event,'filters-closed')">RSVP'd <div class="arrow pull-right"></div></div>
        <fieldset class="form-group form-inline">
          <input type="radio" name="all-rsvp" id="all-rsvp" ng-model="$demoCtrl.filter.rsvp" value="all"> <label for="all-rsvp">Any </label>
          <input type="radio" name="rsvp" id="rsvp" ng-model="$demoCtrl.filter.rsvp" value="yes"> <label for="rsvp">RSVP'd</label>
          <input type="radio" name="no-rsvp" id="no-rsvp" ng-model="$demoCtrl.filter.rsvp" value="no"> <label for="no-rsvp">Not RSVP'd</label>
        </fieldset>
      </div>

      <div class="filterset filters-closed">
        <div class="title purple-bg" ng-click="toggleFilter($event,'filters-closed')">Badge Level <div class="arrow pull-right"></div></div>
        <fieldset class="form-group form-inline">
          <input type="radio" ng-model="$demoCtrl.filter.badge" name="badgeLevel" id="badge-any" value="-1"> <label for="badge-any">All</label>
          <input type="radio" ng-model="$demoCtrl.filter.badge" name="badgeLevel" id="badge-walk-in" value="0"> <label for="badge-walk-in">Walk In</label>
          <input type="radio" ng-model="$demoCtrl.filter.badge" name="badgeLevel" id="badge-rsvp" value="10"> <label for="badge-rsvp">RSVP</label>
          <input type="radio" ng-model="$demoCtrl.filter.badge" name="badgeLevel" id="badge-wb-priority" value="20"> <label for="badge-wb-priority">Wristband/Badge Priority</label>
        </fieldset>
      </div>

      <div class="filterset filters-closed">
        <div class="title purple-bg" ng-click="toggleFilter($event,'filters-closed')">Music Tags <div class="arrow pull-right"></div></div>
        <fieldset class="form-group form-inline">
          <p><span class="music-tag" ng-repeat="tag in exampleTags">
            <a class="btn btn-outline" ng-click="addMusicTags(tag)" ng-class="{'added':$demoCtrl.inMusicTags(tag) >= 0}">{{tag | uppercase}}</a>
          </span></p>
        </fieldset>
      </div>
      <button class="pull-left btn btn-small btn-danger" ng-click="toggleFilters()">Done</button>
      <button class="pull-right btn btn-small btn-white-bg btn-outline" ng-click="$demoCtrl.filterReset()">Clear</button>
    </div>
    <div id="map-events">
      <div class="map-card info" ng-if="!bootStatus">
        <div class="inner">
          <p class="padtop-1 text-center"><strong>{{mapStatus}}</strong></p>
        </div>
      </div>
      <div class="map-card info" ng-if="bootStatus">
        <div class="inner">
          <h4 class="special-font purple-text"><strong>Play with me!</strong></h4>
          <p>This is our demo page that functions exactly like the real map page, except this is just a selected set of 2016 events. There are tons of 2017 events waiting for you on the other side of <strong><a ui-sref="register">sign-up</a></strong>!</p>
          <p><a class="btn btn-outline" ui-sref="demoEvents">Play with the card view, too</a></p>
        </div>
      </div>
      <div class="map-card info" ng-if="bootStatus && (events | onMap:bounds | dateFilter:$demoCtrl.filter.date | searchAll:$demoCtrl.filter.search | foodFilter:$demoCtrl.filter.food | drinkFilter:$demoCtrl.filter.drink | swagFilter:$demoCtrl.filter.swag | rechargeFilter:$demoCtrl.filter.recharge | musicFilter:$demoCtrl.filter.music | credentialFilter:$demoCtrl.filter.badge | musicTagFilter:$demoCtrl.filter.musicTags | demoFavesFilter:$demoCtrl.filter.faves:userFaves | demoRSVPFilter:$demoCtrl.filter.rsvp:userRSVP).length == 0">
        <div class="inner">
          <p ng-hide="$demoCtrl.filter.date === 'now'" class="padtop-1 text-center"><strong>Darn, nothing matched! <br/>Try zooming out or using different filters</strong><br/><a class="btn btn-small btn-white-bg btn-outline martop-1" ng-click="$demoCtrl.filterReset()">Clear</a></p>
          <p ng-show="$demoCtrl.filter.date === 'now'" class="padtop-1 text-center"><strong>Silly goose!<br/>SXSW hasn't event started yet!</strong></p>
          <p ng-show="$demoCtrl.filter.date === 'now'" class="padtop-1 text-center"><a class="btn btn-outline" ng-click="$demoCtrl.filterReset()">Clear Filters</a></p>
        </div>
      </div>
      <div class="map-card" id="detail-{{event.eid}}" ng-class="{'detail__active': selectedEvent==event.eid}" ng-click="updateSelected(event.eid)" ng-repeat="event in events | onMap:bounds | dateFilter:$demoCtrl.filter.date | searchAll:$demoCtrl.filter.search | foodFilter:$demoCtrl.filter.food | drinkFilter:$demoCtrl.filter.drink | swagFilter:$demoCtrl.filter.swag | rechargeFilter:$demoCtrl.filter.recharge | musicFilter:$demoCtrl.filter.music | credentialFilter:$demoCtrl.filter.badge | musicTagFilter:$demoCtrl.filter.musicTags | demoFavesFilter:$demoCtrl.filter.faves:userFaves | demoRSVPFilter:$demoCtrl.filter.rsvp:userRSVP" >
        <div class="number">{{$index+1}}</div>
        <div class="inner">
          <strong>{{event.title}}</strong>
          <free-icons></free-icons>
          <div class="detail--more" ng-show="selectedEvent==event.eid">
            <div>
              <event-location></event-location>
            </div>
            <div class="pull-left">
              <p class="card-date">
                <small>{{cardDateDisplay(event.days) | date:'MMMM d'}}</small>
                <span ng-if="$demoCtrl.filter.date !== 'now' && $demoCtrl.filter.date !== 'all'"><br/><small>{{event.days[$demoCtrl.filter.date].start | date:'h:mm a'}} – {{event.days[$demoCtrl.filter.date].end | date:'h:mm a'}}</small></span>
              </p>
            </div>
            <!--<p class="details-link pull-left"><a ui-sref="events/{{eid}}">See full details &raquo;</a></p>
            <div class="card-buttons">
              <span ng-if="!event.RSVPLink" class="credential-level gray-text pull-right text-right">
                <em>No RSVP<br/>Required</em>
              </span>
              <div ng-if="event.RSVPLink" class="pull-right rsvp-btn" ng-class="inRSVP(event.eid) ? 'active' : 'non-active'" ng-click="toggleRSVP($event,event.eid,event.RSVPLink,event.title)">
                <span>&check;</span>RSVP
              </div>
              <div class="fave-btn pull-left" ng-class="inFavorites(event.eid) ? 'active' : ''" ng-click="toggleFavorite($event,event.eid)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><g><circle id="fave-circle" cx="15" cy="15" r="14.09" stroke-miterlimit="10"/><path id="fave-heart" d="M23.12,12s0-.07,0-.09A4.67,4.67,0,0,0,18.7,8h-.15A4.69,4.69,0,0,0,15,9.65a4.69,4.69,0,0,0-8.25,3.07A4.65,4.65,0,0,0,8.05,16s6.43,7.17,6.92,7.17S21.91,16,21.91,16l.09-.1A4.62,4.62,0,0,0,23.12,12Z" stroke-miterlimit="10"/></g></svg>
              </div>
            </div>
            -->
            <div class="card-buttons pull-right">
              <span ng-if="!event.RSVPLink" class="credential-level gray-text pull-right text-right">
                <em>No RSVP<br/>Required</em>
              </span>
              <div ng-if="event.RSVPLink" class="pull-right rsvp-btn" ng-class="inRSVP(event.eid) ? 'active' : ''" ng-click="toggleRSVP($event,event.eid,event.RSVPLink,event.title)">
                <span>&#x2713;</span>RSVP
              </div>
              <div class="fave-btn pull-right" ng-class="inFavorites(event.eid) ? 'active' : ''" ng-click="toggleFavorite($event,event.eid)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><g><circle id="fave-circle" cx="15" cy="15" r="14.09" stroke-miterlimit="10"/><path id="fave-heart" d="M23.12,12s0-.07,0-.09A4.67,4.67,0,0,0,18.7,8h-.15A4.69,4.69,0,0,0,15,9.65a4.69,4.69,0,0,0-8.25,3.07A4.65,4.65,0,0,0,8.05,16s6.43,7.17,6.92,7.17S21.91,16,21.91,16l.09-.1A4.62,4.62,0,0,0,23.12,12Z" stroke-miterlimit="10"/></g></svg>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="map-card info" ng-if="bootStatus">
        <div class="inner">
          <h4 class="text-center special-text"><strong>Ready to be ready for SouthBy?</strong></h4>
          <p class="text-center padtop-1"><a ui-sref="register" class="btn btn-danger">Hells yes!</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
