<div class="modal-header">
  <h4 class="modal-title text-center" id="modal-title">Just so you know!</h4>
</div>
<div class="modal-body text-center" id="modal-body">
  <p>Your favorites and RSVP's won't be saved to your account, because you don't have an one yet!!</p>
</div>
<div class="modal-footer text-center">
  <a class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Got it, thanks</a>
  <p class="hidden-sm-up"></p>
  <a class="btn btn-danger" type="button" ng-click="$ctrl.cancel()" ui-sref="register">Create Account</a>
</div>
