<div class="modal-header">
  <h4 class="modal-title text-center" id="modal-title">Hey, looks like you're getting the hang of things!</h4>
  <h4 class="text-center">Ready to sign up?</h4>
</div>
<div class="modal-footer">
  <button class="btn btn-danger pull-right" type="button" ng-click="$ctrl.ok()" ui-sref="register">Yes let's do it!</button>
  <a class="pull-left" style="padding-top:.5em;" type="button" ng-click="$ctrl.cancel()">No, I don't enjoy making my life easy</button>
  <div class="clearfix"></div>
</div>
