<div class="container width">
  <div class="row">
    <div class="col-sm-12 martop-3 marbot-3 legal">
      <h1 class="text-center">Terms of Use</h1>
      <h3>Introduction</h3>
      <p>BY ACCESSING OR USING THIS SITE IN ANY WAY, INCLUDING, WITHOUT LIMITATION, EVALUATING, DOWNLOADING, PURCHASING, AND/OR USING ANY OF THE SITE MATERIALS OR PRODUCTS AND SERVICES DISPLAYED AND/OR OFFERED ON THIS SITE, OR BY MERELY BROWSING THIS SITE, YOU EXPRESSLY ACKNOWLEDGE THAT YOU HAVE READ AND AGREE TO BE BOUND BY THE TERMS OF USE AND COMPANY’S PRIVACY POLICY, WHICH IS INCORPORATED HEREIN BY REFERENCE. IF YOU DON’T AGREE TO SUCH TERMS WE REQUEST THAT YOU LEAVE THIS SITE IMMEDIATELY. </p>
      <p>You must be at least 18 years of age to use this website.  By using this website and by agreeing to these terms of use you warrant and represent that you are at least 18 years of age.</p>
      <p>This website does not use cookies.</p>

      <h3>License to use website</h3>
      <p>Unless otherwise stated, Free Shit Guide and/or its licensors own the intellectual property rights in the website and material on the website.  Subject to the license below, all these intellectual property rights are reserved.</p>
      <p>You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms of use.  </p>
      <p>You must not:</p>
      <ul>
      <li>republish material from this website (including republication on another website);</li>
      <li>sell, rent or sub-license material from the website;</li>
      <li>show any material from the website in public;</li>
      <li>reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;</li>
      <li>edit or otherwise modify any material on the website; or</li>
      <li>redistribute material from this website except for content specifically and expressly made available for redistribution (i.e. blog posts).</li>
      </ul>

      <h3>Acceptable use</h3>
      <p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>
      <p>You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.</p>
      <p>You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without Free Shit Guide’s express written consent.</p>
      <p>You must not use this website to transmit or send unsolicited commercial communications.</p>
      <p>You must not use this website for any purposes related to marketing without Free Shit Guide’s express written consent.  </p>

      <h3>Restricted access</h3>
      <p>Access to certain areas of this website is restricted.  Free Shit Guide reserves the right to restrict access to areas of this website, or indeed this entire website, at Free Shit Guide’s discretion.</p>
      <p>If Free Shit Guide provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the user ID and password are kept confidential.  </p>
      <p>Free Shit Guide may disable your user ID and password in Free Shit Guide’s sole discretion without notice or explanation.</p>

      <h3>User content</h3>
      <p>In these terms of use, “your user content” means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to this website, for whatever purpose.</p>
      <p>You grant to Free Shit Guide a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media.  You also grant to Free Shit Guide the right to sub-license these rights, and the right to bring an action for infringement of these rights.</p>
      <p>Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal action whether against you or Free Shit Guide or a third party (in each case under any applicable law).  </p>
      <p>You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.</p>
      <p>Free Shit Guide reserves the right to edit or remove any material submitted to this website, or stored on Free Shit Guide’s servers, or hosted or published upon this website.</p>
      <p>Notwithstanding Free Shit Guide’s rights under these terms of use in relation to user content, Free Shit Guide does not undertake to monitor the submission of such content to, or the publication of such content on, this website.</p>

      <h3>No warranties</h3>
      <p>This website is provided “as is” without any representations or warranties, express or implied.  Free Shit Guide makes no representations or warranties in relation to this website or the information and materials provided on this website.  </p>
      <p>Without prejudice to the generality of the foregoing paragraph, Free Shit Guide does not warrant that:</p>
      <p>this website will be constantly available, or available at all; or
      the information on this website is complete, true, accurate or non-misleading.</p>
      <p>Nothing on this website constitutes, or is meant to constitute, advice of any kind.  If you require advice in relation to any legal, financial or medical matter you should consult an appropriate professional.</p>
      <h3>Limitations of liability</h3>
      <p>Free Shit Guide will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>
      <p>to the extent that the website is provided free-of-charge, for any direct loss;
      for any indirect, special or consequential loss; or
      for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</p>
      <p>These limitations of liability apply even if Free Shit Guide has been expressly advised of the potential loss.</p>

      <h3>Exceptions</h3>
      <p>Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit Free Shit Guide’s liability in respect of any:</p>
      <p>death or personal injury caused by Free Shit Guide’s negligence;
      fraud or fraudulent misrepresentation on the part of Free Shit Guide; or
      matter which it would be illegal or unlawful for Free Shit Guide to exclude or limit, or to attempt or purport to exclude or limit, its liability. </p>
      <h3>Reasonableness</h3>
      <p>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.  </p>
      <p>If you do not think they are reasonable, you must not use this website.</p>

      <h3>Other parties</h3>
      <p>You accept that, as a limited liability entity, Free Shit Guide has an interest in limiting the personal liability of its officers and employees.  You agree that you will not bring any claim personally against Free Shit Guide’s officers or employees in respect of any losses you suffer in connection with the website.</p>
      <p>Without prejudice to the foregoing paragraph, you agree that the limitations of warranties and liability set out in this website disclaimer will protect Free Shit Guide’s officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as Free Shit Guide. </p>

      <h3>Unenforceable provisions</h3>
      <p>If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.</p>

      <h3>Indemnity</h3>
      <p>You hereby indemnify Free Shit Guide and undertake to keep Free Shit Guide indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by Free Shit Guide to a third party in settlement of a claim or dispute on the advice of Free Shit Guide’s legal advisers) incurred or suffered by Free Shit Guide arising out of any breach by you of any provision of these terms of use, or arising out of any claim that you have breached any provision of these terms of use.</p>

      <h3>Breaches of these terms of use</h3>
      <p>Without prejudice to Free Shit Guide’s other rights under these terms of use, if you breach these terms of use in any way, Free Shit Guide may take such action as Free Shit Guide deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.</p>

      <h3>Variation</h3>
      <p>Free Shit Guide may revise these terms of use from time-to-time.  Revised terms of use will apply to the use of this website from the date of the publication of the revised terms of use on this website.  Please check this page regularly to ensure you are familiar with the current version.</p>

      <h3>Assignment</h3>
      <p>Free Shit Guide may transfer, sub-contract or otherwise deal with Free Shit Guide’s rights and/or obligations under these terms of use without notifying you or obtaining your consent.</p>
      <p>You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms of use.  </p>

      <h3>Severability</h3>
      <p>If a provision of these terms of use is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.  If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect. </p>

      <h3>Entire agreement</h3>
      <p>These terms of use constitute the entire agreement between you and Free Shit Guide in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.</p>

      <h3>Law and jurisdiction</h3>
      <p>This Site (excluding linked third-party sites) is controlled by Company from its offices within the State of Texas, United States of America. By accessing this Site, you and Company agree that all matters relating to your access to, or use of, this Site shall be governed by the statutes and laws of the State of Texas, without regard to the conflicts of laws principles thereof. You and Company also agree and hereby submit to the exclusive personal jurisdiction and venue of the state and federal courts located in Austin, Texas, USA.</p>
    </div>
  </div>
</div>
