<div class="pattern-bg container height">
  <!-- SPACER -->
  <div class="martop-5"></div>

  <!-- RESET PASSWORD -->
  <div class="row marbot-3" ng-if="screen === 'sendResetEmail'">
    <h2 class="special-text text-center marbot-1">Send reset password email to:</h2>
    <div class="fsg-field-group text-center small-box" ng-show="!resetData.passwordResetEmailSent">
      <div class="form-alert pink-bg white-text text-center" ng-if="resetData.error">
        <button type="button" class="close" ng-click="resetData.error=false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Uh-oh! No user with that account has been found. <a class="white-text" ui-sref="register">Register &rsaquo;</a>
      </div>
      <label class="sr-only">Email Address</label>
      <input type="email" name="email" placeholder="EMAIL ADDRESS" ng-model="resetEmailFor" ng-required="true" />
      <button class="btn btn-outline" ng-click="sendPasswordResetEmail(resetEmailFor)">Send</button>
    </div>
    <div class="form-alert aqua-bg text-center purple-text small-box" ng-show="resetData.passwordResetEmailSent">
      Sweet, check your inbox! (The link expires in 24 hours)
    </div>
  </div>

  <!-- RESET PASSWORD SCREEN -->
  <div ng-if="screen === 'resetPassword'">
    <!-- CODE EXPIRED -->
    <div ng-if="resetData.codeExpired" class="small-box text-center martop-3">
      <div ng-show="!resetData.passwordResetEmailSent">
        <p class="text-center pink-text"><strong>Whoops! Looks like that link has already been used or is expired.</strong></p>
        <div class="form-alert pink-bg white-text text-center" ng-if="resetData.error">
          Uh-oh! No user with that account has been found. <a class="white-text" ui-sref="register">Register &rsaquo;</a>
        </div>
        <div class="fsg-field-group text-center">
          <label class="sr-only">Email Address</label>
          <input type="email" name="email" placeholder="EMAIL ADDRESS" ng-model="resetEmailFor" ng-required="true" />
          <button class="btn btn-outline" ng-click="sendPasswordResetEmail(resetEmailFor)">Send another password reset email</button>
        </div>
      </div>
    </div>
    <!-- CODE VALID AND UNUSED -->
    <div ng-if="!resetData.codeExpired && !resetData.passwordUpdated" class="small-box martop-1">
      <form name="resetPasswordForm" ng-submit="doPasswordReset(resetData.newPassword,resetData.newPasswordConfirm)" novalidate>
        <p class="text-center marbot-2"><small><em>Password must be at least 9 characters long. Numbers, letters, and these characters are allowed: ! ? ~ % $ # + - _ *</em></small></p>
        <div class="text-center pink-text" ng-if="(resetPasswordForm.newPassword.$dirty && resetPasswordForm.newPassword.$invalid) || (resetData.newPassword !== resetData.newPasswordConfirm)">
          <p ng-show="resetPasswordForm.newPassword.$error.pattern"><small>Oops! There's a wrong character in that password…</small></p>
          <p ng-show="resetPasswordForm.newPassword.$error.minlength"><small>That password's not quite long enough…</small></p>
          <p ng-show="resetData.newPassword !== resetData.newPasswordConfirm && resetPasswordForm.newPasswordConfirm.$dirty"><small>Those passwords don't match!</small></p>
        </div>
        <div class="fsg-field-group text-center marbot-1">
          <label for="new-password" class="purple-text"><strong>Password</strong></label>
          <input id="new-password" ng-model="resetData.newPassword" name="newPassword" type="password" ng-minlength="9" pattern="[a-zA-Z0-9\!\?\~\%\$\#\+\-\_\*]+" />
        </div>
        <div class="fsg-field-group text-center">
          <label for="new-password" class="purple-text"><strong>Confirm Password</strong></label>
            <input id="confirm-password" ng-model="resetData.newPasswordConfirm" name="newPasswordConfirm" type="password" ng-minlength="9" pattern="[a-zA-Z0-9\!\?\~\%\$\#\+\-\_\*]+" />
        </div>
        <button type="submit" class="btn btn-outline" ng-click="doPasswordReset(resetData.newPassword,resetData.newPasswordConfirm)" ng-disabled="resetData.newPassword !== resetData.newPasswordConfirm">Reset</button>
      </form>
    </div>
    <!-- PASSWORD RESET SUCCESS -->
    <div ng-if="resetData.passwordUpdated && screen !== 'sendResetEmail'" class="martop-3">
      <h3 class="special-text bright-purple-text text-center">Success!</h3>
      <p class="text-center">Your password has been updated. Now don't go losing it again, ya hear?!</p>
      <p class="text-center"><a class="btn btn-danger" ui-sref="login">Login &rsaquo;</a></p>
    </div>
  </div>

  <!-- Default -->
  <div class="row martop-3 marbot-3" ng-if="screen !== 'resetPassword' && screen !== 'sendResetEmail'">
    <h2 class="text-center special-text marbot-1">Nothing to see here!</h2>
    <p class="text-center"><a class="btn btn-outline" ui-sref="home">Go home, Roger</a></p>
  </div>
</div>
